extends layout

block content
  h1= 'Farm Fetch.'
  h3 Explore the best of your local farmers market and easily order from multiple vendors for convenient pickup.
  h4 Vendor List:
  div#vendorList
    a(href='/foolhardy')
        img(src='images/foolhardy_transparent_logo.png', class='logo-image')
    a(href='/harvest_root')
        img(src='images/harvest_root.png', class='logo-image')
    

